.container{
    width: 100%;
    background-image: url(../../Assests/aboutHero.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 3rem;
    margin-bottom: 7rem;
    margin-top: 5rem;
}

.container h2{
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding-left: 4rem;
}