.navMenu .active {
    /* color: #0E3997; */
    color: rgba(255, 102, 0, 1);
}

.container{
    width: 100%;
    z-index: 999;
    background: #fff;
    position: fixed;
}

.innerContainer{
    width: 90%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
}

.navMenu{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navMenu button{
    font-size: 16px;
    display: block;
    color: #fff;
    font-family: Lato;
    font-weight: 600;
    background: rgba(255, 102, 0, 1);
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.mobileNav button{
    width: 70%;
    margin: auto;
    font-size: 16px;
    display: block;
    color: #fff;
    font-family: Lato;
    font-weight: 600;
    background: rgba(255, 102, 0, 1);
    padding: .5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 2rem;
}

  li{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    display: block;
    font-family: Lato;
    font-weight: 600;
}


li:hover{
    color: rgba(255, 102, 0, 1);
}

li a{
    text-decoration: none;
    color: #0E3997;
}

button a {
    text-decoration: none;
    color: #fff;
}

.hamburger{
    display:none;
    padding: 1rem;
}

.mobileMenu{
    display: none;
}

.logo{
    width: 30%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 20%;
}

@media screen and (max-width: 745px){
    li{
        font-size: 13px;
    }
}

@media screen and (max-width: 675px) {
    .mobileMenu{
        position: absolute;
        top: -100vh;
        left: 0;
        color: #fff;
    }

     .actives{
        display: flex;
        flex-direction: column;
        width: 50%;
        position: fixed;
        top: 82px; 
        right:0;
        background: #0E3997;
        transition: 0.3s;
        color: #fff;
    }

      .hamburger{
        display:block;
    }
    
    .navMenu{
        display:none;
    }

    .logo img{
        width: 50%;
    }

    .actives li{
        margin: 2rem;
        color: #fff;
        border-bottom:1px solid #fff;
    }

    li a{
        color: #fff;
    }

    .mobileNav button{
        padding: .7rem 1rem;
        color: #fff;
        font-weight: 600;
        background: rgba(255, 102, 0, 1);
        border: none;
        cursor: pointer;
        font-family: Lato;
        font-size: 16px;
        border-radius: 5px;
        margin-bottom: 2rem;
    }
}
