.container {
  width: 100%;
  background: rgba(14, 57, 151, 1);
  background-image: url(../../Assests/courseBack.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.innerContainer {
  width: 80%;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.topCourses {
  text-align: center;
}

.topCourses h3 {
  font-family: Lato;
  font-size: 33px;
  font-weight: 600;
  line-height: 58.09px;
  color: #fff;
}

.topCourses p {
  color: #fff;
  font-family: Lato;
  font-size: 23px;
  font-weight: 500;
  line-height: 26.55px;
  padding: 1rem 0;
}

.topCourses hr {
  width: 15%;
  margin: auto;
  border: 1px solid #fff;
}

.btn button {
  padding: 0.7rem 3rem;
  /* border-radius: 0px 5px 5px 0px; */
  font-family: Lato;
  font-size: 20px;
  font-weight: 600;
  line-height: 23.09px;
  color: rgba(14, 57, 151, 1);
  background: #fff;
  border: none;
  cursor: pointer;
  margin: 2rem 0.1rem;
}

.btn button:hover {
  background: rgba(150, 218, 237, 1);
  color: #fff;
}

.shortTerm {
  border-radius: 5px 0px 0px 5px;
}

.longTerm {
  border-radius: 0px 5px 5px 0px;
}

.cardWrap {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  gap: 2rem;
}

.butt {
  text-align: center;
}

.butt button {
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  margin-top: 5rem;
}

.cardText {
  background: #34adfeb2;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transition: .5s ease;
  height: 0;
}

.cardText h3 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 800;
  line-height: 18.47px;
  color: #fff;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.cardText p {
  font-family: Lato;
  font-size: 18px;
  font-weight: 900;
  line-height: 26.55px;
  color: #fff;
  margin: 1rem 1.5rem;
}

.cardText button {
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-family: Lato;
  font-size: 16px;
  margin-top: 1rem;
}

.cardText hr{
    width: 40%;
    margin: auto;
    border: 1px solid #fff;
}

.myImages{
    width: 100%;
    display: block;
    height: auto;
}

.card{
    position: relative;
}

.card:hover .cardText{
    height: 100%;
}

@media screen and (max-width: 840px){

}

@media screen and (max-width: 425px){
  .btn button {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.1rem;
    font-size: 14px;
    font-weight: 600;
  }

  .cardWrap {
    display: flex;
    flex-direction: column;
  }

  .cardText p {
    margin: 1rem;
  }
  
  .cardText button {
    margin-top: 0rem;
  }
  
  
}